*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */
.container-header{
    position:fixed;
    top: 0;
    height: 40px;
    padding: 0px 10px 0px 10px ;
    width: calc(100% - 20px);
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-header01{
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.box-header02{
    width: calc(100% - 100px);
    text-align: center;
}

/* Nav */
nav{
    position: fixed;
    top:40px;
    padding: 10px 0px 10px 0px;
    width: 150px;
    height: 100% ;
    background-color: gainsboro;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.ul-nav{
    list-style: none;
    padding: 3px;
    text-align: center;
}
.ul-nav > li{
    padding-bottom: 5px;
}
nav a{
    color: black;
    text-align: center;
    transition:0.1;
}


/* Main */
main{
    margin-left:155px;
    margin-right: 5px;
    margin-top: 45px;
}
tr{
    flex-wrap: wrap;
}
.cor-fundo-section{
    background-color: gainsboro;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
}
ol,ul{
    padding-left:20px;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
.figure-flex{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.imgs-exemplos{
    height: 100px;
    padding: 5px;
    border-radius: 10px;
}
.imgs-exemplos02{
    height:200px;
    padding: 5px;
    border-radius: 10px;
}
#img-exemplo-03{
    height: 60px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
}
/* Footer */
footer{
    margin-top: 20px;
    margin-left: 155px;
    background-color: black;
    color: gray;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
address{
    font-style: normal;
}
.ul-links-contatos-footer{
    align-self: center;
}
footer  a{
    color:gray;
}
/* Hovers */
.link-hover:hover{
    color: red;
    font-size: 18px;
}

/* Animações */
@keyframes trocar-cor-background01{
    0%{
        background-color: gainsboro;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: gainsboro;
    }
}
@keyframes trocar-cor-background02{
    0%{
        background-color: gainsboro;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: gainsboro;
    }
}
